
{% extends "layout.html" %}

{% block pageTitle %}
  How good is your service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How good is your service?
        <span class="govuk-caption-xl">GOV.UK Prototype Kit</span>
      </h1>
      <p>
        This project is a simple demonstration of how the GOV.UK prototype kit can be used to create simple designs for new services using the government design system.
      </p>

  
      <h2 class="govuk-heading-m">About this prototype</h2>

       <p>
        This tool uses <a href="https://good.services/the-good-services-scale" target=blank> The Good Service scale </a> from The School of Good Services Ltd to let you assess the quality of your service using the 15 Principles of Good Service Design.
      </p>


      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
